{% extends "layout.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='users.css') }}">
{% endblock %}

{% block content %}
    <div class="users container">
      <div class="row">
        {% for node in nodes %}
          <div class="card col-xs-6 col-sm-4 col-md-4">
            <a href="{{url_for('trans', user_id = user_id, node_id = node['_id'])}}">
              <h4 class="card-text">
                {{node['info']['nickname']}}
              </h4>
              <h6 class="card-text">
                Balance: {{node['info']['balance']['amount']}} {{node['info']['balance']['currency']}}
              </h6>
            </a>
          </div>
          {% endfor %}
      </div>
    </div>

{% endblock content %}




